@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@font-face {
    font-family: "Fuente Encabezados";
    src: url('./assets/fonts/FontsFree-Net-Bely-Display-W00-Regular.ttf') format('ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Fuente Encabezados";
    line-height: 120px !important;
}